<%- include('../headerauth.ejs') %>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 mb-5 mt-5"  data-aos="fade">
        <%- include('../partials/messages.ejs') %>
        <form action="/signup" method="POST" class="p-5 bg-white">
          <div class="row form-group">
          <h2 class="mb-5 text-black">Registration for Students</h2>
          </div>
          
          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="name">Name</label> 
              <input type="name" id="name" name="name" placeholder="Your Name" class="form-control"
              value="<%= typeof name != 'undefined' ? name : '' %>">
            </div>
          </div>
         
          <div class="row form-group">
            
            <div class="col-md-12">
              <label class="text-black" for="email">Email</label> 
              <input type="email" id="email" name="email" placeholder="ex: nirzak@gmail.com" class="form-control"
              value="<%= typeof email != 'undefined' ? email : '' %>">
            </div>
          </div>

        <div class="row form-group">
          <div class="col-md-12">
            <label class="text-black" for="RegNo">Registration No</label> 
            <input type="number" id="reg" name="reg" placeholder="ex: 2016331101" class="form-control"
            value="<%= typeof reg != 'undefined' ? reg : '' %>">
          </div>
        </div>

      <div class="row form-group">
        <div class="col-md-12">
          <label class="text-black" for="Session">Session</label> 
          <input type="text" id="session" name="session" placeholder="ex: 2016-17" class="form-control"
          value="<%= typeof session != 'undefined' ? session : '' %>">
        </div>
      </div>

        <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="password">Password</label> 
              <input type="password" id="password" name="password" class="form-control"
              value="<%= typeof password != 'undefined' ? password : '' %>">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="password">Re-type Password</label> 
              <input type="password" id="password2" name="password2" class="form-control"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
              <p class="text-black">Have an account? <a href="/login">Log In</a></p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Sign Up" class="btn btn-primary py-2 px-4 text-white">
            </div>
        </div>


        </form>
    </div>
      
    </div>
  </div>
  <%- include('../footer.ejs') %>